node_modules/
dist/
dist-ssr/
backend/umi
backend/umi.exe
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
.env
.env.*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
config.toml
umi.db
__debug_bin*